/* header */

.header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    
} 
.nav {
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.0);
    position: relative;
   
    background-size: cover; 
    background-position: center; 
    height: 150px
  }
  
  .nav  .nav-header {
    display: inline;
  }
  

  #hidden{
    color: aqua;
   padding: 20px;
  }
  .nav  .nav-header > .nav-title {
    display: none;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav  .nav-btn {
    display: none;
  }
  
  .nav  .nav-links {
    
    text-align: center;
    font-size: 18px;
  }
  
  .nav  .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav-links  a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav  #nav-check {
    display: none;
  }
  
/* about us */
.about{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-title{
    text-align: center;
    color: rgb(241, 151, 34);
}
.about-description{
    margin-left: 100px;
    margin-right: 100px;
    
    text-align:center;
}
.full-container{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg.jpg);
    background-size: cover; 
    background-position: center; 
    height: auto;
    padding: 150px;
 
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    height: 350px;
    width: 250px;
    background-color: #2D2625;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
   margin: 15px;
   box-shadow: rgb(0.0,0.9,0.9);
   border-radius: 10px;
   
   padding: 8px;
}
.card-img{
    height: 190px;
    width: 240px;
  
       
}
.card-title{
    color: rgb(241, 151, 34);
    text-align: center;
}
.card-description{
    width: 250px;
    color: white;
    text-align: start;
    margin: 15px;
    
}
/* Our story */
.story-title {
   text-align: center;
    color: orange;
    margin-top: 100px;
    margin-bottom: 0;
}
 .stories{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      align-items: center;
      padding: 20px;
      
  }

  .story{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding:20px;
  }
  .story h3{
    color:rgb(241, 151, 34) ;
    font-size: 35px;
  }
  .story p{
    text-align: center;
  }
/* Our chef */
.ourChef{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/chef-bg.jpg); 
    background-size: cover; 
    background-position: center; 
    height: 550px;
    padding: 50px 100px;
  text-align: center;
  }
  .ourChef h1{
    color: white;
    font-size: 40px;
  }
  .ourChefCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }
  .chef{
    width: 200px;
    height: 300px;
    border: 1px solid rgb(241, 151, 34);
    border-radius: 5px;
  }
  .chef-name {
    color: wheat;
    margin-bottom: 0;

  }
  .chef-title{
    color: white;
  }
  .chefCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
   
  }
  .chefCard h1 {
    margin-top: 0%;
  }
  .firstCard{
    background-image: url(../images/chef.jpg) ; 
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
    background-size: cover; 
    background-position: center; 
    width: 200px;
    height: 300px;
    border: 1px solid rgb(241, 151, 34);
    
  }
  .firstCard  p{
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 10px;
  }

/* Customer review */
.review-container{
   
  margin-top: 100px;
  margin-bottom: 90px;
}
.review-title{
  text-align: center;
 
   
    color: rgb(241, 151, 34);
}
.review-description{
    margin-left: 100px;
    margin-right: 100px;
    text-align:center;
}

/* Footer */
.footer{
    background-color: #2D2625;
    height: 80px;
    width: 100%;
}
.footer-title{
    color: white;
    text-align: center;
    padding-top: 20px;
}



 /* --------------- Media Query--------------- */
  @media (max-width:600px) {


    /* Header */
    .nav  .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav  .nav-btn  label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav  .nav-header > .nav-title {
        display:inline-block;
        font-size: 22px;
        color: #fff;
        padding: 10px 10px 10px 10px;
      }
      .nav  .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav  .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav  .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav  .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav  #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav  #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
      #hidden{
       display: none;
      }



       /* About us css*/
       .about{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px;
    }
       .container{
        flex-direction: column;
        margin-bottom: 50px;
       }
       .full-container{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg.jpg);
        background-size: cover; 
        background-position: center; 
        height: auto;
        padding: 20px;
      
       
    }
    .about-description{
      margin: 20px 10px;
      
      text-align:center;
  }

    /* Our story css */
    .story{
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .story p{
      text-align: center;
    }
    .stories{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        
    }
   

    /* Our chef css */
    .ourChef{
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/chef-bg.jpg); 
        background-size: cover; 
        background-position: center; 
        height: auto;
      
        padding: 0px 10px;
      }
  
      .ourChefCards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
      }
  }